#eKQ2WXnmqYl6_to {
  animation: eKQ2WXnmqYl6_to__to 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl6_to__to {
  0% {
    transform: translate(-131.994px, -304.755px);
  }
  25% {
    transform: translate(-129.994px, -307.755px);
  }
  100% {
    transform: translate(-129.994px, -307.755px);
  }
}

#eKQ2WXnmqYl6_ts {
  animation: eKQ2WXnmqYl6_ts__ts 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl6_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#eKQ2WXnmqYl7_to {
  animation: eKQ2WXnmqYl7_to__to 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl7_to__to {
  0% {
    transform: translate(-166.285px, -304.755px);
  }
  25% {
    transform: translate(-168.285px, -307.755px);
  }
  100% {
    transform: translate(-168.285px, -307.755px);
  }
}

#eKQ2WXnmqYl7_ts {
  animation: eKQ2WXnmqYl7_ts__ts 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl7_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#eKQ2WXnmqYl8_to {
  animation: eKQ2WXnmqYl8_to__to 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl8_to__to {
  0% {
    transform: translate(-162.839495px, -294.033504px);
  }
  25% {
    transform: translate(-162.912px, -298.34px);
  }
  100% {
    transform: translate(-162.912px, -298.34px);
  }
}

#eKQ2WXnmqYl9_to {
  animation: eKQ2WXnmqYl9_to__to 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl9_to__to {
  0% {
    transform: translate(-159.466px, -292.731504px);
  }
  25% {
    transform: translate(-159.466px, -297.324px);
  }
  100% {
    transform: translate(-159.466px, -297.324px);
  }
}

#eKQ2WXnmqYl10_to {
  animation: eKQ2WXnmqYl10_to__to 2000ms linear 1 normal forwards;
}

@keyframes eKQ2WXnmqYl10_to__to {
  0% {
    transform: translate(-136.491px, -292.731504px);
  }
  25% {
    transform: translate(-136.491px, -297.324px);
  }
  100% {
    transform: translate(-136.491px, -297.324px);
  }
}
